---
---
@import 'code_theme.scss';
$font-title: 'EB Garamond';
$font-regular: 'Hind';
$font-handwritten: 'Gaegu';
$font-source-code: 'Source Code Pro';
$light-grey: #fbfbfb;
$subtitle: #877e75;
$dark-grey: #666;
$red: #ce463c;

body {
	color: #333;
    font-family: $font-regular;
    margin: 0;
}

.wrapper {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "sidebar content"
}

aside {
    background-color: $light-grey;
    text-align: center;
    min-width: 300px;
    min-height: 100vh;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;

    a { display: block; }
    p { font-size: 0.9em; color: $subtitle; margin: 2em; }

    .profilePic {
        margin-top: 5em;
        padding: 0;
        justify-content: normal;
        img {  border-radius: 50%; margin-top: -30px; }

        .pointer{
            width: 90px;
            margin: auto;
            border: dashed 2px $red;
            border-color: $red transparent transparent transparent;
            border-radius: 120%/120px 120px 0 0;
            transform: rotate(310deg);
            span {
                display: block;
                margin-left: 60px;
                font-family: $font_handwritten; 
                font-size: 1.2em;
                line-height: 1em;
                transform: rotate(70deg);
            }
            .arrow {
                width: 0;
                height: 0;
                margin-left: 7px;
                margin-top: 10px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #dd4c4f;
                transform: rotate(60deg);
            }
        }
    }
    nav {
        a {
            font-size: 1.1em;
            font-weight: lighter;
            color: black;
            text-decoration: none;
            text-align: right;
            text-transform: uppercase;
            padding-right: 0.2em;
            line-height: 1.8em;
            margin-right: 3px;
        }

        a:hover {
            text-decoration: none;
            border-right: 3px $red solid;
            padding-right: 0.2em;
            margin-right: 0;
        }

        a.active {
            text-decoration: none;
            border-right: 3px $red solid;
            padding-right: 0.2em;
            margin-right: 0;
        }
    }

    .social-links {
        margin: 1em 0;
        a {
            display: inline;
            img { height: 20px;}
        }
    }
}
main {
    padding: 4em 3em 0 3em;
    grid-area: content;
    img {
        max-width: 100%;
        display: block;
        margin: auto;
    }
}

footer {
    font-size: 10pt;
    color: $dark-grey;
    text-align: center;
    margin: 1em 0;
    margin-top: 4em;
    a { text-decoration: none; }
}

h1 {
    font-family: $font-title;
    line-height: 1em;
    border-bottom: 3px $red solid;
    margin-bottom: 0;
    font-size: 2.77em;
}

h2 {  font-size: 1.2em; }

ul {
    list-style: none;
	li::before {
        content: "–";
        font-weight: bold;
        color: $red;
		margin-right: 1em;
		margin-left: 0;
	}
}

a { color: #666; }

a:hover { text-decoration: none; }

hr { border: 0; border-bottom: 1px solid #efefef; }


.highlight {
    background-color: $light-grey;
    padding: 1em 2em;
    writing-mode: horizontal-tb;
    pre, tt, code {
        font-family: 'Source Code Pro', monospace;
        font-size: 0.9em;
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }

}

.static {
    .companies {
        display: flex;
        flex-direction: column;

        .date {
            font-family: 'EB Garamond';
            background: $red;
            font-size: 0.9em;
            color: white;
            width: 5em;
            text-align: center;
            padding: 0.2em;
        }
        
        .company {
            display: flex;
            flex-direction: row;
            
            .period {
                flex: 1;
                border-left: 2px dashed $red;
                margin-left: 2.6em;
            }
            
            .description {
                flex: 10;

                h2 { font-size: 1.6em; margin-top: 0; }

                .technologies {
                    font-family: 'EB Garamond';
                    text-align: right;
                    margin-left: 30%;
                    .tech {
                        background: $dark-grey;
                        white-space: nowrap; 
                        color: white;
                        line-height: 1.6em;
                        margin: 0 0.1em;
                        padding: 0 0.5em;
                    }
                }
            }
        }
    }
}

.post-header {
    .post-title { font-family: $font-title; }
    .post-info {
        text-align: right;
        .dt-published {
            background: $red;
            color: white;
            font-weight: bold;
            padding: 0.2em;
            font-family: 'EB Garamond'
        }
        .tags {
            margin-right: 200px;
        }
    }
}
.blog {
    a { text-decoration: none; }
    .post-header { 
        margin: 1em 0 2em 0;
        a { color: black; font-size: 2em; display: block; }
    }
    .post-content {
        a { color: $red; }
    }
}


@media (max-width: 950px) {
    .wrapper {
        flex-direction: row;
        grid-template-columns: 1fr;
        grid-template-areas:
        "sidebar"
        "content"
            
    }
    aside {
        min-height: auto;
        padding: 0;

        nav {
            a { display: inline; text-align: center; }
            a:hover, a.active { border-right: 0; border-bottom: 2px $red solid; }
        }
    }

    main { padding: 1em; }
}