---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Education - Georgi Alexandrov" style="static">
  <h1>Education</h1>
  
  <h2>Master degree in IT Project management</h2>
  <p><em>Oct 2012 - Nov 2014 @ New Bulgarian University</em></p>
  
  <p>The program was based on PMI courses. Thanks to the collaboration between New Bulgarian University and Carnegie Mellon, I have certifications in:</p>
  
  <ul>
    <li>TSP - Leading a Development Team</li>
    <li>PSP - Personal Software Process Fundamentals</li>
  </ul>
  
  <p>Courses in the program were:</p>
  
  <ul>
    <li>Software estimation</li>
    <li>Team Software Process (TSP)</li>
    <li>Personal Software Process (PSP) Fundamentals</li>
    <li>Personal Software Process (PSP) Advanced</li>
    <li>Project Management III (lectures by Prof. Vijay Kanabar from Boston University)</li>
  </ul>
  
  <h2>Bachelor degree in Informatics</h2>
  <p><em>Oct 2009 - Jan 2012 @ New Bulgarian University</em></p>
  
  <p>Courses in the field of:</p>
  
  <ul>
    <li>Structures and algorithms;</li>
    <li>Programming with C++, Java, and C#;</li>
    <li>Computer systems, networks, and operating systems;</li>
    <li>Object-oriented programming;</li>
    <li>Software methodologies;</li>
    <li>During my bachelor education, I took the 4 modules of Cisco CCNA;</li>
  </ul>
  
  <p>I graduated with a project for organizing group travels made with google maps api, scala and mysql.</p>
</Layout>