---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Work Experience - Georgi Alexandrov" style="static">
  <h1>Work Experience</h1>
  <p>I have worked in several companies based in Sofia, Bulgaria:</p>

  <div class="companies">
<span class="date">Current</span>
<div class="company">
    <div class="period">
    </div>
    <div class="description">
        <h2>Receipt Bank</h2>
        <p>The Receipt Bank Group is a global company with a team of 300+ in offices in London, Washington DC, Sydney, Ljubljana, Sofia, Paris and Cape Town.</p>
        
        <p>The product is automating the collection and data extraction of receipts and invoices.</p>
        
        <div class="technologies">
            <span class="tech">Ruby</span>
            <span class="tech">Ruby on Rails</span>
            <span class="tech">PostgreSQL</span>
        </div>
    </div>
</div>
<span class="date">Jul <strong>2018</strong></span>

<div class="company">
    <div class="period">
    </div>
    <div class="description">
        <h2>Software Group</h2>
        <p>Software Group is Sofia based international company providing IT solutions for financial institutions.</p>
        
        <p>I started as a full stack javascript developer in Feb 2016. Several months later I was promoted to Team Lead of a team with 6 developers.</p>
        
        <p>My responsibilities as TL are delivery in time, coaching and resolving impediments.</p>
        
        <div class="technologies">
            <span class="tech">node.js</span>
            <span class="tech">mssql</span>
            <span class="tech">react</span>
            <span class="tech">redux</span>
            <span class="tech">immutable.js</span>
        </div>
    </div>
</div>
<span class="date">Feb <strong>2016</strong></span>

<div class="company">
    <div class="period">
    </div>
    <div class="description">
        <h2>Techhuddle</h2>
        <p>Nearshore company with offices in Sofia and London.</p>

        <p>I started as a Senior PHP developer and moved to Node.js team later on.</p>

        <p>The projects I was working on were in the field of e-commerce and retail.</p>

        <div class="technologies">
            <span class="tech">php</span>
            <span class="tech">mysql</span>
            <span class="tech">beanstalkd</span>
            <span class="tech">redis</span>
            <span class="tech">puppet</span>
            <span class="tech">laravel</span>
            <span class="tech">AWS</span>
            <span class="tech">node.js</span>
            <span class="tech">mongodb</span>
            <span class="tech">react</span>
            <span class="tech">reflux</span>
        </div>
    </div>
</div>
<span class="date">Jun <strong>2014</strong></span>

<div class="company">
    <div class="period">
    </div>
    
    <div class="description">
        <h2>Circles Bulgaria</h2>

        <p>Confidential</p>
        
        <div class="technologies">
            <span class="tech">php</span>
            <span class="tech">yii framework</span>
            <span class="tech">mysql</span>
        </div>
    </div>
</div>
<span class="date">Nov <strong>2013</strong></span>

<div class="company">
    <div class="period">
    </div>
    <div class="description">
        <h2>Comstream</h2>
        <p>Worked in Comstream only 3 weeks, because the essence of work was not the one I expected.</p>
        
        <div class="technologies">
            <span class="tech">php4</span>
            <span class="tech">mysql</span>
        </div>
    </div>
</div>
<span class="date">Sep <strong>2013</strong></span>

<div class="company">
    <div class="period">
    </div>
    
    <div class="description">
        <h2>Sourcelab/Innovity/ISDC</h2>
        <p>I started as a java developer working on a project based on Play! Framework and Hibernate. Later I worked mainly on php with cakePHP, jquery, mysql.</p>
        
        <p>Sourcelab was acquired by Innovity and later on by ISDC.</p>

        <p>At Innovity, I implemented a solution for continuous integration and continuous improvement with Jenkins and SonarQube.</p>
        <div class="technologies">
            <span class="tech">php</span>
            <span class="tech">java</span>
            <span class="tech">mysql</span>
            <span class="tech">cakePHP</span>
            <span class="tech">Play! framework</span>
            <span class="tech">javascript</span>
            <span class="tech">jQuery</span>
            <span class="tech">eclipseLink</span>
            <span class="tech">Hibernate</span>
        </div>
    </div>
</div>

<span class="date">Jan <strong>2010</strong></span>

<div class="company">
    <div class="period">
    </div>
    <div class="description">
        <h2>Infologica</h2>
<p>Infologica is an IT services and solutions company mainly focused on software in the field of environment control and protection.</p>

<p>I was part of a team develping php based system for European Environmental Agency.</p>

<p>During this period I was supporting the Bulgarian system for air quality monitoring. The support was both software and hardware.</p>
        
        <div class="technologies">
            <span class="tech">php</span>
            <span class="tech">java</span>
            <span class="tech">mysql</span>
            <span class="tech">oracle</span>
            <span class="tech">spring framework</span>
            <span class="tech">windows system administration</span>
        </div>
    </div>
</div>
<span class="date">Apr <strong>2007</strong></span>
</div>
</Layout>

