@charset "UTF-8";
.highlight .hll {
  background-color: #ffffcc; }

.highlight .c {
  color: #408080;
  font-style: italic; }

/* Comment */
.highlight .err {
  border: 1px solid #FF0000; }

/* Error */
.highlight .k {
  color: #008000;
  font-weight: bold; }

/* Keyword */
.highlight .o {
  color: #666666; }

/* Operator */
.highlight .cm {
  color: #408080;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #BC7A00; }

/* Comment.Preproc */
.highlight .c1 {
  color: #408080;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #408080;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #A00000; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #FF0000; }

/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #00A000; }

/* Generic.Inserted */
.highlight .go {
  color: #808080; }

/* Generic.Output */
.highlight .gp {
  color: #000080;
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #0040D0; }

/* Generic.Traceback */
.highlight .kc {
  color: #008000;
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  color: #008000;
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  color: #008000;
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  color: #008000; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #008000;
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #B00040; }

/* Keyword.Type */
.highlight .m {
  color: #666666; }

/* Literal.Number */
.highlight .s {
  color: #BA2121; }

/* Literal.String */
.highlight .na {
  color: #7D9029; }

/* Name.Attribute */
.highlight .nb {
  color: #008000; }

/* Name.Builtin */
.highlight .nc {
  color: #0000FF;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #880000; }

/* Name.Constant */
.highlight .nd {
  color: #AA22FF; }

/* Name.Decorator */
.highlight .ni {
  color: #999999;
  font-weight: bold; }

/* Name.Entity */
.highlight .ne {
  color: #D2413A;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #0000FF; }

/* Name.Function */
.highlight .nl {
  color: #A0A000; }

/* Name.Label */
.highlight .nn {
  color: #0000FF;
  font-weight: bold; }

/* Name.Namespace */
.highlight .nt {
  color: #008000;
  font-weight: bold; }

/* Name.Tag */
.highlight .nv {
  color: #19177C; }

/* Name.Variable */
.highlight .ow {
  color: #AA22FF;
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #666666; }

/* Literal.Number.Float */
.highlight .mh {
  color: #666666; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #666666; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #666666; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #BA2121; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #BA2121; }

/* Literal.String.Char */
.highlight .sd {
  color: #BA2121;
  font-style: italic; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #BA2121; }

/* Literal.String.Double */
.highlight .se {
  color: #BB6622;
  font-weight: bold; }

/* Literal.String.Escape */
.highlight .sh {
  color: #BA2121; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #BB6688;
  font-weight: bold; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #008000; }

/* Literal.String.Other */
.highlight .sr {
  color: #BB6688; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #BA2121; }

/* Literal.String.Single */
.highlight .ss {
  color: #19177C; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #008000; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #19177C; }

/* Name.Variable.Class */
.highlight .vg {
  color: #19177C; }

/* Name.Variable.Global */
.highlight .vi {
  color: #19177C; }

/* Name.Variable.Instance */
.highlight .il {
  color: #666666; }

/* Literal.Number.Integer.Long */
body {
  color: #000000;
  font-family: "Quicksand";
  font-size: 1em;
  margin: 0;
  display: grid;
  grid-template-columns: 20% 80%; }

aside {
  background-color: #fbfbfb;
  vertical-align: middle;
  padding: 0 2em;
  text-align: center;
  min-height: 100vh; }
  aside a {
    line-height: 1.5em; }
  aside h1 {
    font-size: 1.2em; }
  aside p {
    font-size: 0.9em;
    color: #666;
    text-align: center;
    margin: 2em 0; }
  aside .profilePic {
    margin-top: 50px;
    padding: 0; }
    aside .profilePic img {
      border-radius: 50%;
      margin-top: -30px; }
    aside .profilePic .pointer {
      width: 90px;
      margin: auto;
      border: dashed 2px #dd4c4f;
      border-color: #dd4c4f transparent transparent transparent;
      border-radius: 120%/120px 120px 0 0;
      transform: rotate(310deg); }
      aside .profilePic .pointer span {
        display: block;
        margin-left: 60px;
        font-family: "Gaegu";
        font-size: 1.2em;
        line-height: 1em;
        transform: rotate(70deg); }
      aside .profilePic .pointer .arrow {
        width: 0;
        height: 0;
        margin-left: 7px;
        margin-top: 10px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #dd4c4f;
        transform: rotate(60deg); }
  aside nav {
    text-align: center;
    margin: 2em 0; }
    aside nav a {
      font-size: 1em;
      color: black;
      text-decoration: none; }
    aside nav a:hover {
      text-decoration: underline; }
  aside .icons {
    text-align: center;
    margin: 2em 0; }
    aside .icons img {
      width: 25px; }
  aside div.blogpost a {
    display: block; }

main {
  padding: 0 50px; }
  main img {
    max-width: 100%;
    display: block;
    margin: auto; }

footer {
  font-size: 10pt;
  color: #666;
  text-align: center;
  margin: 1em 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.2em; }

ul {
  list-style: none; }
  ul li::before {
    content: "●";
    color: #dd4c4f;
    margin-right: 1em;
    margin-left: 0; }

a {
  color: #dd4c4f; }

a:hover {
  text-decoration: none; }

hr {
  border: 0;
  border-bottom: 1px solid #efefef; }

.highlight {
  background-color: #fbfbfb;
  padding: 1em 2em;
  writing-mode: horizontal-tb; }
  .highlight pre, .highlight tt, .highlight code {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */ }

/*# sourceMappingURL=style.css.map */
