---
export interface Props {
  currentPath?: string;
}

const { currentPath = "/" } = Astro.props;
---

<aside>
  <div class="profilePic">
    <a href="/"><img src="/assets/img/avatar.png" width="150" /></a>
  </div>
  <p>
    Tech Lead driving AI transformation initiatives that enhance team
    performance
  </p>
  <div class="social-links">
    <a href="https://github.com/georgialexandrov" target="_blank"
      ><img src="/assets/img/github_solid.svg" /></a
    >
    <a href="https://www.linkedin.com/in/georgialexandrov/" target="_blank"
      ><img src="/assets/img/linkedin_solid.svg" /></a
    >
    <a href="https://twitter.com/galexandrov87/" target="_blank"
      ><img src="/assets/img/twitter_solid.svg" /></a
    >
  </div>
  <nav>
      <a
      href="/"
      class={currentPath === "/" || currentPath?.startsWith("/blog")
        ? "active"
        : ""}
    >
      Blog
    </a>
    <a
      href="/work-experience"
      class={currentPath === "/work-experience" ? "active" : ""}
    >
      Work Experience
    </a>
    <a href="/education" class={currentPath === "/education" ? "active" : ""}>
      Education
    </a>
    <a
      href="/technologies"
      class={currentPath === "/technologies" ? "active" : ""}
    >
      Technologies
    </a>
  
  </nav>
</aside>
